<mat-card class="mat-fixed-card mat-elevation-z3 general-card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon aria-hidden="false" aria-label="Done" class="primaryColor">
        person</mat-icon
      >
    </div>
    <mat-card-title> Edit Customer </mat-card-title>
    <mat-card-subtitle> </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="customerForm"
      class="example-container"
      autocomplete="off"
    >
      <mat-divider></mat-divider>
      <br />

      <div
        fxLayout="row"
        fxLayout.lt-sm="column"
        fxLayoutGap="10px"
        fxLayoutGap.lt-sm="0px"
        fxLayoutAlign="start center"
        fxLayoutAlign="start stretch"
      >
        <div fxFlex="calc(50% - 10px)" fxFlex.lt-sm="auto">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>First name</mat-label>
            <input
              matInput
              type="text"
              name="title"
              placeholder="First name"
              formControlName="first_name"
              required="required"
            />

            <mat-error *ngIf="errorHandling('first_name', 'required')">
              The <strong>first name</strong> is required.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayout.lt-sm="column"
        fxLayoutGap="10px"
        fxLayoutGap.lt-sm="0px"
        fxLayoutAlign="start center"
        fxLayoutAlign="start stretch"
      >
        <div fxFlex="100%" fxFlex.lt-sm="auto">
          <div fxFlex="calc(50% - 10px)" fxFlex.lt-sm="auto">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Last name</mat-label>
              <input
                formControlName="last_name"
                matInput
                required="required"
                placeholder="Last name"
              />

              <mat-error *ngIf="errorHandling('last_name', 'required')">
                The <strong>last name</strong> is required.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="100%" fxFlex.lt-sm="auto">
          <div fxFlex="calc(50% - 10px)" fxFlex.lt-sm="auto">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Email</mat-label>
              <input
                formControlName="email"
                matInput
                required="required"
                placeholder="Email"
              />
              <mat-error *ngIf="errorHandling('email', 'required')">
                The <strong>email</strong> is required.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayout.lt-sm="column"
        fxLayoutGap="10px"
        fxLayoutGap.lt-sm="0px"
        fxLayoutAlign="start center"
        fxLayoutAlign="start stretch"
      >
        <div fxFlex="calc(50% - 10px)" fxFlex.lt-sm="auto">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Phone</mat-label>
            <input
              matInput
              type="text"
              name="title"
              placeholder="Phone"
              formControlName="phone"
              required="required"
            />

          </mat-form-field>
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayout.lt-sm="column"
        fxLayoutGap="10px"
        fxLayoutGap.lt-sm="0px"
        fxLayoutAlign="start center"
        fxLayoutAlign="start stretch"
      >
        <div fxFlex="calc(50% - 10px)" fxFlex.lt-sm="auto">
          <mat-form-field appearance="fill" style="width: 100%">
            <select formControlName="status" matNativeControl required>
              <option value="active">Active</option>
              <option value="pending">Pending</option>
              <option value="inactive">Inactive</option>
            </select>

            <mat-error *ngIf="errorHandling('status', 'required')">
              The <strong>status</strong> is required.
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <hr style="margin-bottom: 20px" />

      <br fxHide.gt-xs="true" />

      <mat-card-actions>
        <button
        [disabled]="customerForm.invalid"
          (click)="updateCustomer()"
          type="submit"
          mat-raised-button
          color="primary"
        >
          Edit
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
